<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shape20263_war_28001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,752},{150,204}}</string>
                <key>offset</key>
                <string>{26,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,291},{150,204}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_28002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,706},{122,196}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,288},{122,196}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_28003.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,284},{174,214}}</string>
                <key>offset</key>
                <string>{48,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,233},{174,214}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_28004.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,284},{168,212}}</string>
                <key>offset</key>
                <string>{62,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,232},{168,212}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_28005.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,288},{312,212}}</string>
                <key>offset</key>
                <string>{49,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,240},{312,212}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_28006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{386,252}}</string>
                <key>offset</key>
                <string>{-23,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,176},{386,252}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_28007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{386,252}}</string>
                <key>offset</key>
                <string>{-31,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,171},{386,252}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_28008.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,772},{338,192}}</string>
                <key>offset</key>
                <string>{-33,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,192},{338,192}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_38001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,2},{176,232}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,264},{176,232}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_38002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,458},{184,246}}</string>
                <key>offset</key>
                <string>{8,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,238},{184,246}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_38003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2},{190,252}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,233},{190,252}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_38004.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,500},{190,260}}</string>
                <key>offset</key>
                <string>{5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,227},{190,260}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_38005.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,502},{190,260}}</string>
                <key>offset</key>
                <string>{8,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,227},{190,260}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_38006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,498},{190,252}}</string>
                <key>offset</key>
                <string>{9,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,233},{190,252}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_38007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,486},{180,252}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,240},{180,252}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_38008.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,510},{288,260}}</string>
                <key>offset</key>
                <string>{15,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,248},{288,260}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_38009.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{304,280}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,236},{304,280}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_38010.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{312,284}}</string>
                <key>offset</key>
                <string>{8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,235},{312,284}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_38011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{328,276}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,233},{328,276}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_38012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{234,270}}</string>
                <key>offset</key>
                <string>{10,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,230},{234,270}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_48001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{194,154}}</string>
                <key>offset</key>
                <string>{25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,325},{194,154}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_58001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,788},{186,120}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,384},{186,120}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_78001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,274},{130,210}}</string>
                <key>offset</key>
                <string>{17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,285},{130,210}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_78002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,740},{128,206}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,286},{128,206}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_78003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,236},{130,200}}</string>
                <key>offset</key>
                <string>{20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,288},{130,200}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_78004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,762},{136,200}}</string>
                <key>offset</key>
                <string>{22,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,287},{136,200}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_78005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,256},{134,200}}</string>
                <key>offset</key>
                <string>{21,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,285},{134,200}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_78006.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,764},{136,200}}</string>
                <key>offset</key>
                <string>{19,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,284},{136,200}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_78007.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,762},{138,202}}</string>
                <key>offset</key>
                <string>{18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,283},{138,202}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_78008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,274},{136,206}}</string>
                <key>offset</key>
                <string>{17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,282},{136,206}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shape20263_war.png</string>
            <key>size</key>
            <string>{1618,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82aa2b34713301a6c5f294cae298df9e:1/1$</string>
            <key>textureFileName</key>
            <string>shape20263_war.png</string>
        </dict>
    </dict>
</plist>
