<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shape20263_war_e_24001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,726},{152,224}}</string>
                <key>offset</key>
                <string>{-28,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,256},{152,224}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_24002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,246},{122,220}}</string>
                <key>offset</key>
                <string>{-14,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,264},{122,220}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_24003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,472},{182,228}}</string>
                <key>offset</key>
                <string>{-52,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,219},{182,228}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_24004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,282},{172,274}}</string>
                <key>offset</key>
                <string>{-63,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,160},{172,274}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_24005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{344,242}}</string>
                <key>offset</key>
                <string>{-7,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,195},{344,242}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_24006.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,720},{362,266}}</string>
                <key>offset</key>
                <string>{37,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,219},{362,266}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_24007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,2},{364,278}}</string>
                <key>offset</key>
                <string>{44,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,230},{364,278}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_24008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,282},{284,262}}</string>
                <key>offset</key>
                <string>{58,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,228},{284,262}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_34001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{192,260}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,227},{192,260}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_34002.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,576},{182,278}}</string>
                <key>offset</key>
                <string>{5,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,206},{182,278}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_34003.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,642},{190,286}}</string>
                <key>offset</key>
                <string>{9,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,201},{190,286}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_34004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,576},{186,276}}</string>
                <key>offset</key>
                <string>{7,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,211},{186,276}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_34005.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{242,288}}</string>
                <key>offset</key>
                <string>{-20,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,199},{242,288}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_34006.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,292},{238,282}}</string>
                <key>offset</key>
                <string>{-15,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,203},{238,282}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_34007.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,332},{230,308}}</string>
                <key>offset</key>
                <string>{-15,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,184},{230,308}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_34008.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{270,328}}</string>
                <key>offset</key>
                <string>{-23,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,181},{270,328}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_34009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{284,360}}</string>
                <key>offset</key>
                <string>{-15,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,157},{284,360}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_34010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,360}}</string>
                <key>offset</key>
                <string>{-14,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,157},{304,360}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_34011.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,364},{314,354}}</string>
                <key>offset</key>
                <string>{-24,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,155},{314,354}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_34012.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{234,344}}</string>
                <key>offset</key>
                <string>{8,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,156},{234,344}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_44001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,246},{192,224}}</string>
                <key>offset</key>
                <string>{-27,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,242},{192,224}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_54001.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,856},{188,98}}</string>
                <key>offset</key>
                <string>{2,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,413},{188,98}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_74001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,2},{128,254}}</string>
                <key>offset</key>
                <string>{-16,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,225},{128,254}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_74002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,472},{126,252}}</string>
                <key>offset</key>
                <string>{-18,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,225},{126,252}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_74003.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,726},{130,254}}</string>
                <key>offset</key>
                <string>{-20,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,225},{130,254}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_74004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,726},{134,250}}</string>
                <key>offset</key>
                <string>{-22,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,227},{134,250}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_74005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,546},{136,252}}</string>
                <key>offset</key>
                <string>{-23,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,225},{136,252}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_74006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,546},{134,252}}</string>
                <key>offset</key>
                <string>{-20,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,225},{134,252}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_74007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,546},{132,252}}</string>
                <key>offset</key>
                <string>{-18,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,225},{132,252}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>shape20263_war_e_74008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,258},{126,252}}</string>
                <key>offset</key>
                <string>{-13,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,225},{126,252}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shape20263_war_e.png</string>
            <key>size</key>
            <string>{1982,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98fb55c0f60127eb5020d191c58e4236:1/1$</string>
            <key>textureFileName</key>
            <string>shape20263_war_e.png</string>
        </dict>
    </dict>
</plist>
